// begin clients section 
section.clients
	.container
		.row
			.col-md-12
				h2.section-title.-black Наши клиенты
		.row.clients-slider
			.clients-wrap
				a.clients-logo.client-01(href="#")
			.clients-wrap
				a.clients-logo.client-02(href="#")
			.clients-wrap
				a.clients-logo.client-03(href="#")
			.clients-wrap
				a.clients-logo.client-04(href="#")
			.clients-wrap
				a.clients-logo.client-01(href="#")
			.clients-wrap
				a.clients-logo.client-02(href="#")
			.clients-wrap
				a.clients-logo.client-03(href="#")
			.clients-wrap
				a.clients-logo.client-04(href="#")
		
			

// end clients section 