// begin footer 
footer.footer
	.container
		.row
			.col-md-12
				h2.section-title.-black Контакты
		.row
			.col-md-4.col-sm-4.col-xs-12.contact-wrap
				.contact-info г. Москва, ул. Свободы 1
				.contact-info тел. 8 800 123-45-67
			.col-md-4.col-sm-4.col-xs-12.contact-wrap
				.contact-info Время работы:
				.contact-info 8:00 - 18:00 Пн-Пт
		
		.row.footer-form
			.col-md-7.col-sm-7.col-xs-12.footer-question--wrap
				.footer-question.-upper Отсались вопросы
				.footer-question Звоните! Консультации
				.footer-question.-yellow-big Бесплатные
			.col-md-5.col-sm-5.col-xs-12
				.form.-footer
					form(action="#")
						label.form_title Заполните форму и мы свяжемся с вами в течении часа
						input.form_input(type="text", name="name", placeholder="Имя", required) 
						input.form_input(type="tel", name="phone", placeholder="Телефон", required) 
						input.form_input(type="email", name="email", placeholder="E-mail", required) 
						button.button.-footer-button(type"submit", role="button") Отправить заявку
		.row
			.col-md-12
				.footer-copy Copyright &copy; 2015
// end footer 


