// begin map 
section.map.hidden-xs
	.container
		.row
			.col-md-12
				h2.section-title.-black Мы работаем по всей России
		.row
			.col-md-12
				.map_pic
					.point-tooltip.-samara.hidden-xs
						.point.-big 
							.tooltip
								img.tooltip-img(src="img/tooltips/tooltip01.jpg", alt="tooltip")
								.tooltip-content
									h5.tooltip-title Поставка труб на нефтяную скважину
									.tooltip-discr Описание подробностей установки и достигнутых результатов по завершению проекта.
					.point-tooltip.-kazan.hidden-xs
						.point.-small
							.tooltip
								img.tooltip-img(src="img/tooltips/tooltip01.jpg", alt="tooltip")
								.tooltip-content
									h5.tooltip-title Проект по переоборудобванию завода
									.tooltip-discr Описание подробностей проекта и достигнутых результатов по завершению проекта.



// end map