// begin sertificates
section.sertificates
	.container
		.row
			.col-md-12
				h2.section-title.-yellow Сертификаты
		.row.sertificates-slider
			.sertificates-slider--item
				img(src="img/sertificate-1.jpg", alt="sertificate")
			.sertificates-slider--item
				img(src="img/sertificate-1.jpg", alt="sertificate")
			.sertificates-slider--item
				img(src="img/sertificate-1.jpg", alt="sertificate")
			.sertificates-slider--item
				img(src="img/sertificate-1.jpg", alt="sertificate")
			.sertificates-slider--item
				img(src="img/sertificate-1.jpg", alt="sertificate")
			.sertificates-slider--item
				img(src="img/sertificate-1.jpg", alt="sertificate")

		.row
			.col-md-12
				.form.-sert-form
					form(action="#")
						label.form_title Вы можете пригласить нас на тендер. Просто оставьте Ваши контактные данные ниже
						input.form_input(type="text", name="name", placeholder="Имя", required) 
						input.form_input(type="tel", name="phone", placeholder="Телефон", required) 
						input.form_input(type="email", name="email", placeholder="E-mail", required) 
						button.button.-form-button(type"submit", role="button") Отправить заявку


// end sertificates
